image_compressor/__pycache__
__pycache__/
*/__pycache__
cache/
src/static/
src/.cache/
.vscode/
.DS_Store
out.txt
output.txt
CACHED_FILE.pkl
response_json.json
test_compressed.jpg
uploaded/
*.jpg
test.py
.env
cookies.txt
Dockerfile
entrypoint.sh
just_test.py
awstest.py
task-definition.json
Pipfile
secrets.ps1