.card-page{
    position: relative;
    margin-top: 40px;
    width: 360px;
    min-height:400px;
    background: #fff;
    padding: 8px;
    border-radius: 30px;
}
.card-page .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-page .top .userDetails{
    display: flex;
    align-items: center;

}
.card-page .top .userDetails .profile_img{

    position: relative;
    width:36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;

}
.cover{
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-page .top .userDetails h3{
    font-size: 16px;
    color:#4d4d4f;
    font-weight: 500;
    line-height: 1rem;
}
.card-page .top .userDetails h3 span{
    font-size:0.75rem;
}

.dot{
    transform: scale(0.6);
    cursor: pointer;
}
.imgBx{
    position: relative;
    width: 100%;
    height: 265px;
    margin:10px 0 15px;
}
.actionBtns{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.actionBtns i{
    font-size: 24px;
    max-width: 24px;
    cursor: pointer;
}

.actionBtns .left i{
    margin-right: 8px;

}
.likes{
    font-weight: 500;
    margin-top: 5px;
    font-size: 16px;
    color:#4d4d4f
}
.message{
    font-size: 16px;
    font-weight: 300;
    margin: 5px;
    line-height: 1.5rem;
}
.message span {
    color: #1d92ff;
    cursor: pointer;
}


@media only screen and (max-width:940px){
    .card-page{
        width:450px;
    }
}
@media only screen and (max-width:680px){
    .card-page{
        width:360px;
    }
}