@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
}
:root{
    --bg-body: #111111;
    --font-col: #E9FDFF;
    --bg-button: #8121D7;
    --bg-button-hov: #9B52DB;
    --font-accent: #E9A9CC;
}
html{
    overflow-x: hidden;
}
body{
    
    font-family: 'Source Sans 3', sans-serif;
    box-sizing: border-box;
    position: relative;
}

p{
    margin-bottom: 0;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.content{
    margin-top: 0px;
    width: 100%;
    min-height:100vh;
    background: var(--bg-body);
    padding: 1rem 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.images{
    display: flex;
    align-items: center;
    width: 50%;
    height: 70%;
    justify-content: center;
}
.images img{
    width: 70%;
    height: 100%;
}
.innerContent{
    padding: 0.5rem;
    font-weight: 600;
    margin: auto 5rem;
    color: var(--font-col);
    
}
.innerContent .tagline{
    line-height: 4rem;
    padding-block: 2rem;
}
.innerContent .title{
    font-size: 5rem;
}
.innerContent .tag{
    font-size: 2rem;
    font-weight: 100;
}
.innerContent span{
    color: var(--light-gray);
}
.btn-style{
    border: none;
    width: 460px;
    position: relative;
    height:auto;
    background-color: var(--bg-button);
    border-radius:50px;
    padding: 10px 10px;
    font-size: 30px;
    font-weight: 500;
    color: var(--font-col);
}
.btn-style:hover{
    background-color: var(--bg-button-hov);
    transition: background-color 0.3s ease-in-out;
}
section .footer {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}
/* @media (max-width: 915px){
    .images{
        width:100%;
        height: 35%;
        background-color: yellow;
    }
    .innerContent{
        background-color: red;
        width: 60%;
    }
} */
@media only screen and (max-width: 950px)
{
    body{
        overflow: auto;
    }
    .content{
        flex-direction: column-reverse;
    }
    .images{
        height: 50%;
    }
}
@media only screen and (max-width: 560px){
    body{
        overflow-y: scroll;
    }
    .innerContent{
        width:fit-content;
        font-size: 40px;
        margin: 20px 32px auto 37px;
    }
    .innerContent button{
        margin-inline: 5rem;
    }
    .btn-style{
        width: 260px;
        height:50px;
        background-color: var(--bg-button);
        border-radius:50px;
        padding: 0;
        font-size: 30px;
        font-weight: 500;
        color: #fff;
    }
  }
@media only screen and (max-width:510px)
{
.innerContent{
    width: 400px;
    margin-inline:auto;
}
}
@media (max-width:500px)
{
html{
    overflow-x: hidden;
}
.innerContent{
    max-width: 350px;
    margin-inline:auto;
}
.innerContent .tagline{
    width: 100%;

}
.innerContent .tagline .title{
    font-size: 3.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.innerContent .tagline .tag{
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerContent button{
    margin: 0 2.5rem;
}
.images{
    width: 70%;
    height: 40%;
}
.images img{
    width: 100%;
}
}    
@media(max-width:455px)
{
.innerContent{
    width: 100%;
    margin-inline:auto;
}
.innerContent button{
    margin: 0 2.5rem;
}
}
@media(max-width: 390px) {
    .innerContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .innerContent .tagline .title{
        font-size: 3rem;
    }
    .btn-style{
        margin: auto;
    }
}
@media (max-width: 340px) {
    .innerContent{
        margin-inline: auto;
    }
    .innerContent .tagline .tag{
        line-height: 1.5rem;
        font-size: 1.2rem;
        text-align: center;
    }
}
@media (max-width: 310px)
{
    .innerContent{
        width: 100%;
    }
    .innerContent .tagline .title{
        font-size: 100%;
    }
    .btn-style{
        width: 100%;
    }

}
@media(max-width: 270px){
    .innerContent .tagline .title{
        font-size: 90%;
    }
}
@media(max-width: 245px){
    .innerContent .tagline .title{
        font-size: 85%;
    }
}