body{
    margin:0;
    padding:0;
    font-family: 'Source Sans 3', sans-serif;
    box-sizing: border-box;
    
    
}
.copy-text{
    font-size: 20px;
    text-align: center;
    margin-top: 1rem;
    font-weight: 500;
    color: var(--font-col);
}
.innerContent-page3{
    height: 86%;
    width: 70%;
    margin: auto;
}
.innerContent-div{
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;

}
.text{
    width:50%;
    min-width: 25rem;
}
.innerContent-page3 .steps{
    font-size: 30px;
}

.caption{
    border: none;
    background-color: #2D2D2D;
    color: var(--font-col);
    padding: 16px;
}
.caption::-webkit-scrollbar{
    display: none;
}
.imgBx{
    position: relative;
    width: 100%;
    height: 265px;
    margin:10px 0 15px;
}
.imgBx img{
    width: 100%;
    object-fit: contain;
    z-index: 1;
}
.cover{
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.generated-caption{
    width: 100%;
    min-width: 25rem;
    border-radius: 2rem;
    position: relative;
    background-color: #2D2D2D;
    padding: 1.5rem;
    margin: 0.5rem auto 1rem;
}
.textarea{

    width: 100%;
    font-size: 16px !important;
    border: none;
    padding: 0.5rem;
    height:100% !important;

   border-radius: 30px; 

}
.utilities{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-regenerate,.btn-reupload, .btn-copy{
    width:150px;
    height: 40px !important;;
    border-radius: 30px;
    background: var(--bg-button);
    color: var(--font-col);
    border: none;
    font-size: 16px;
    margin: 0.5rem;
    cursor: pointer;
}
.btn-regenerate:hover,.btn-reupload:hover, .btn-copy:hover{
    background-color: var(--bg-button-hov);
}
section .footer-page3 {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}

@media (max-width: 1160px) {
    .utilities{
        flex-wrap: wrap;
        justify-content: center;
        margin-inline: auto;
    }
    
}

@media (max-width:870px) {
    .utilities{
        flex-direction: column;
    }
}

@media (max-width: 460px) {
    .text{
        min-width: 20rem;
    }
    .generated-caption{
        min-width: 20rem;
    }
}
@media (max-width: 400px) {
    .text{
        min-width: 15rem;
    }
    .generated-caption{
        min-width: 15rem;
    }
    .content{
        min-height: 150vh;
    }
}