.SignModal{

    margin-top: 4rem;
    /* border-radius: 30px !important; */
    /* width:600px; */
}
.errorText {
  padding :0 !important;
  margin: 0 !important;
  font-size: 14px;
  color: red;
}
.success{
  padding: 8px !important;
  margin: 0 !important;
  font-size: 20px;
  color: green;

}
.spinners{
  display: flex;
  justify-content: center;

}
.modal-content{
    padding:20px;
    border-radius: 50px !important;
}
.modal-title{
    padding: 30px 0 10px 0;
    margin-left:18px;
}
input{
    padding: 20px;
    width: 400px;
    border:1px solid #1C4042;
    margin: 16px !important;
    border-radius: 20px;
    height: 50px;
}

.btn-close{
    position: absolute;
    top:15px;
    right: 25px;
}

.modal-btn-btn{
    width:400px;
    height:50px;
    margin-top: 20px;
    margin-left: 16px;
    padding: 0;
    font-size: 20px;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
  }

  .hr-text::before{
    content: '';
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;

  }
  .hr-text::after{
    content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
      padding: 0 .5em;
      line-height: 1.5em;
      color: #818078;
      background-color: #fcfcfa;


  }

  .socialHandles{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: auto;
    
  }
  .modalFooter{
    margin-top: 20px;
    text-align: center;
    color: #1C4042;
  }
  .modalFooter span {
    text-decoration: underline;
    cursor: pointer;


  }

  @media only screen and (max-width: 560px) {
    
    input{
      margin: 10px auto auto 20px !important;
      width: 300px;
    }
    .modal-btn-btn{
      width: 300px;
      /* margin: auto; */
      margin: 10px auto auto 20px;
    }





  }
  