.SignModal{
    margin-top: 4rem;
}
.SignModal div *:not(button){
  background-color: var(--bg-body);
  color: var(--font-col);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.errorText {
  padding :0 !important;
  margin: 0 !important;
  color: var(--font-error);
  font-size: 1.1rem;
  text-align: center;
}
.success{
  padding: 8px !important;
  margin: 0 !important;
  font-size: 1.1rem;
  color: green;

}
.spinners{
  display: flex;
  justify-content: center;

}
.modal-content{
    padding:20px;
    border-radius: 3rem !important;
}
.modal-title{
    padding: 30px 0 10px 0;
    margin-left:18px;
}
.forgot-password{
  margin: 5px 16px ;
  text-align: end;
  width: 400px;
}
.SignModal input{
    padding: 20px;
    width: 400px;
    border: none;
    border-bottom: 3px solid var(--bg-button);
    margin: 16px !important;
    height: 50px;
}

.btn-close{
    position: absolute;
    top:15px;
    right: 25px;
}

.modal-btn-btn{
    width:400px;
    height:50px;
    margin-top: 20px;
    margin-left: 16px;
    padding: 0;
    font-size: 20px;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
  }

  .hr-text::before{
    content: '';
      background: linear-gradient(to right, transparent, var(--bg-button-hov), transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;

  }
  .hr-text::after{
    content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
      padding: 0 .5em;
      line-height: 1.5em;
      color: var(--font-accent);
      background-color: var(--bg-body);


  }

  .socialHandles{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: auto;
    
  }
  .SignModal .modalFooter{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #1C4042;
  }
  .SignModal .modalFooter p{
    flex-direction: row;
    margin-block: auto;
    gap: 0;
  }
  .modalFooter span, .forgot-password span {
    text-decoration: underline;
    cursor: pointer;


  }

  @media only screen and (max-width: 560px) {
    
    input{
      margin: 10px auto auto 20px !important;
      width: 300px;
    }
    .forgot-password{
      margin: 10px auto auto 20px;
      width: 300px;
    }
    .modal-btn-btn{
      width: 100%;
      margin-inline: auto;
    }

  }

@media(max-width: 400px){
  .SignModal div *:not(button){
    width: 100%;
  }
  .SignModal .modalFooter{
    width: 80%;
  }
  .SignModal .modalFooter span:nth-child(1){
    padding-left: 0.5rem;
  }
  .SignModal .modalFooter *{
    font-size: 90%;
  }
  .SignModal .modalFooter p{
    width: 50%;
  }
}

@media (max-width: 420px)
{
  .modal-btn-btn{
    width: 90%;
  }
}

@media (max-width: 375px){
  .modal-btn-btn{
    width: 100%;
    margin-inline: auto;
  }
}
@media(max-width: 350px){
  .SignModal .modalFooter{
    width: 100%;
    flex-direction: column;
    gap:0.5rem;
  }
  .SignModal .modalFooter *:nth-child(1){
    width: 100%;
  }
  .SignModal .modalFooter *:nth-child(1) span{
    text-align: start;
    width: 15%;
  }
}